.profile__title-button {
  width: 24px;
  height: 24px;
  margin-left: 18px;
}

@media screen and (max-width: 615px) {
  .profile__title-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
