.profile__add-button {
  width: 22px;
  min-height: 22px;
  background-image: url(../../../images/add_button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px, 22px;
  border: 2px solid #ffffff;
  box-sizing: content-box;
  border-radius: 2px;
  padding: 12px 62px;
}

@media screen and (max-width: 950px) {
  .profile__add-button {
    margin-top: 32px;
  }
}

@media screen and (max-width: 615px) {
  .profile__add-button {
    width: 16px;
    min-height: 16px;
    background-size: 16px, 16px;
    padding: 15px 131px;
  }
}
