.form__submit {
  width: 358px;
  padding: 14px 0;
  margin-top: 40px;
  border-radius: 2px;
  background: #000000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 615px) {
  .form__submit {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
