@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/button/button.css);
@import url(../blocks/close-button/close-button.css);

@import url(../blocks/main-page/main-page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__title-line/profile__title-line.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__description/card__description.css);
@import url(../blocks/card/__text/card__text.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__like/_active/card__like_active.css);
@import url(../blocks/card/__trash/card__trash.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__author/footer__author.css);

@import url(../blocks/image-popup/image-popup.css);
@import url(../blocks/image-popup/__container/image-popup__container.css);
@import url(../blocks/image-popup/__text/image-popup__text.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__user-name/popup__user-name.css);
@import url(../blocks/popup/__user-description/popup__user-description.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/_opened/popup_opened.css);

.image-popup__image {
  object-fit: contain;
  max-width: inherit;
  max-height: inherit;
}

.close-button_place_image-popup {
  width: 32px;
  height: 32px;
  position: absolute;
  right: -36px;
  top: -40px;
  background-image: url(../../images/close_icon.svg);
}

@media screen and (max-width: 615px) {
  .close-button_place_image-popup {
    left: 262px;
    top: -36px;
    width: 20px;
    height: 20px;
    background-size: contain;
  }
}
