.popup__title {
  margin-top: 47px;
  padding: 0 0 13px 0;
  border: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  height: 14px;
}

@media screen and (max-width: 615px) {
  .popup__title {
    margin-top: 75px;
  }
}
